@model LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_BookATableNavbarComponentPartial")
    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>KULLANICI GİRİŞ EKRANI</h2>
            </div>
            <br />


            <form class="form-detail" method="post">

                <div style="color:red;" asp-validation-summary="ModelOnly"></div>

                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label>Kullanıcı Adı</label>
                        <input type="text" id="full-name" class="form-control" placeholder="Kullanıcı Adınız" required asp-for="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label>Şifre</label>
                        <input type="password" id="password" class="form-control" placeholder="Şifreniz" required asp-for="Password">
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-8 mb-3">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Giriş Yap</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">Hesabınız Yok Mu? <a href="/Register/Index">Hemen Kayıt Olun!</a></div>
                </div>
            </form>


        </div>

    </section>
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- footer section -->
    <!-- jQery -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")




</body>

</html>

